.ProgramInfo {
  background: #383838;
  color: #e4e4e4;
  position: absolute;
  padding: .5rem;
  border-radius: .1rem;
  font-size: .8rem;

  .close {
    background: #2b2b2b;
    color: #e4e4e4;
    width: 100%;
    border: 0;
    display: block;
    padding: .5rem;
    margin-top: .5rem;
    text-transform: uppercase;
    font-size: .6rem;
  }
}