.ProgramList {
  .program-title-row {
    white-space: nowrap;
    max-width: 100%;
    a {
      display: block;
      cursor: pointer;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a:focus {
      outline: 0;
      background: #eaeaea;
    }
  }
}