.App {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 60px;

    .start-notification {
        background: black;
        color: #f1f1f1;
        padding: 1em;
        position: fixed;
        bottom: 60px;
        z-index: 11;
        .tail {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 15px;
            border-color: black transparent transparent transparent;
            position: absolute;
            bottom: -15px;
        }
    }

    .selective-clear {
        @media all and (min-width: 1401px) {
            &:nth-child(10n) {
                clear: both;
            }
        }
        @media all and (max-width: 1400px) {
            &:nth-child(8n) {
                clear: both;
            }
        }
        @media all and (max-width: 1100px) {
            &:nth-child(6n) {
                clear: both;
            }
        }
        @media all and (max-width: 800px) {
            &:nth-child(4n) {
                clear: both;
            }
        }
        @media all and (max-width: 500px) {
            clear: both;
        }
    }

    
}