.App {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 60px; }
  .App .start-notification {
    background: black;
    color: #f1f1f1;
    padding: 1em;
    position: fixed;
    bottom: 60px;
    z-index: 11; }
    .App .start-notification .tail {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      border-color: black transparent transparent transparent;
      position: absolute;
      bottom: -15px; }
